{% extends 'base.html' %}
{% block body %}
<h1> Detail </h1>
<h2> {{ movie.title }} </h2>
<h2> {{ movie.title_en }} </h2>
<h2> {{ movie.audience }} </h2>
<h2> {{ movie.open_date }} </h2>
<h2> {{ movie.genre }} </h2>
<h2> {{ movie.watch_grade }} </h2>
<h2> {{ movie.score }} </h2>
<h2> {{ movie.poster_url }} </h2>
<h2> {{ movie.description }} </h2>

<a href="{% url 'movies:index' %}">목록</a>
<a href="{% url 'movies:edit' movie.pk %}">수정</a>

<form action="{% url 'movies:delete' movie.pk %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="delete">
</form>

{% endblock %}