{% extends 'base.html' %}
{% block body %}
<h1> Detail </h1>
<img src="{{ movie.poster_url }}" alt="poster" width="300px">

<ul>
    <li><b> {{ movie.title }} </b></li>
    <li> {{ movie.title_en }} </li>
    <li> {{ movie.audience }} </li>
    <li> {{ movie.open_date }} </li>
    <li> {{ movie.genre }} </li>
    <li> {{ movie.watch_grade }} </li>
    <li> {{ movie.score }} </li>
    <li> {{ movie.description }} </li>
</ul>

<a href="{% url 'movies:index' %}">목록</a>
<a href="{% url 'movies:edit' movie.pk %}">수정</a>

<form action="{% url 'movies:delete' movie.pk %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="delete">
</form>

{% endblock %}